@import './variable.css';
@import url(./fonts.css);

/* Start Default Style */

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    line-height: 1.6;
    font-size: 1.6rem;
    font-family: var(--primary-font);
    direction: rtl;
}


*,
*::after,
*::before {
    outline: none;
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: var(--dark-color);
    transition: all 400ms ease;
}

a:hover {
    color: #1e83f0;
}

i {
    user-select: none;
}

/* Finish Default Style */

/* Start Top-Bar Style */

.top-bar {
    color: var(--dark-color);
    padding: 2rem 0;
    background-color: #f0f2f7;
}

.top-bar__content {
    display: flex;
    justify-content: space-between;
    padding: 0 1.5rem;
}

.top-bar__right, 
.top-bar__menu {
    display: flex;
}

.top-bar__link {
    color: var(--dark-color);
    transition: all 400ms ease;
    font-size: 1.5rem;
    padding: 0 1rem;
}

.top-bar__left {
    display: flex;
    flex-direction: row-reverse;   
}

.top-bar__email--icon,
.top-bar__phone--icon {
    color: var(--primary-color);
}



/* Finish Top-Bar Style */