@import './variable.css';
@import './top-bar.css';
@import url(./fonts.css);

/* Start Default Style */

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    line-height: 1.6;
    font-size: 1.6rem;
    font-family: var(--primary-font);
    direction: rtl;
}


*,
*::after,
*::before {
    outline: none;
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: var(--dark-color);
    transition: all 400ms ease;
}

a:hover {
    color: #1e83f0;
}

i {
    user-select: none;
}

/* Finish Default Style */
/* 808088088080800808808008080808080088080080808080808088 */
/* Start Navbar style  */

.main-header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 1.5rem;
}

/* ~~~~~~~~~~~~mainHeaderRight */



/* ~~~~~~~~~~~~mainHeaderLeft */


/* Finish Navbar style  */